PORT=3000
DB_CONNECTION_URI=mongodb://127.0.0.1:27017
DB_NAME=six-cities
SALT=super-secret-salt
JWT_SECRET=super-secret-jwt
UPLOAD_DIRECTORY=uploads
DEFAULT_AVATAR_URL=https://c-cdnet.cdn.smule.com/smule-gg-uw1-z-1/account/picture/a3/33/4af4ebe6-9227-4791-94f1-4cb268b382bf.jpg
